@import "./settings";
@import "./gradients";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 2px;
}

// sizes
.btn-lg {
  width: $base * 32px;
  height: $base * 8px;
}

.btn-md {
  width: $base * 26px;
  height: $base * 7px;
}

.btn-sm {
  width: $base * 18px;
  height: $base * 5px;
}

.btn-primary,
.btn-secondary,
.btn-light,
.btn-solid {
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  line-height: $base * 4px;
}

.btn-primary {
  @include purple-blue-gradient();
  box-shadow: 0 5px 5px #dcdcdc;
  &:hover {
    @include blue-teal-gradient();
  }
  &:active {
    background-color: $tertiary-1;
  }
}

.btn-secondary {
  background-color: $grey-1;
  &:hover {
    background-color: transparent;
    border: 2px solid $grey-1;
    color: $grey-1;
  }
  &:active {
    background-color: $secondary-1;
  }
}

.btn-solid {
  background-color: $secondary-1;
  &:hover,
  &:active {
    background-color: darken($secondary-1, 5%);
    color: $white;
  }
}

.btn-light {
  background-color: $light-grey;
  color: $grey-1;
  &:hover,
  &:active {
    background-color: darken($light-grey, 5%);
  }
}
