$primary-1: #3f549c;
$primary-2: #5067b3;
$primary-3: #7086cc;

$secondary-1: #35c2cd;
$secondary-2: #5cdce6;
$secondary-3: #91ecf2;

$tertiary-1: #5f539b;
$tertiary-2: #776bb3;
$tertiary-3: #998fcc;

$grey-1: #3d3d3f;
$grey-2: #6c6d70;

$light-grey: #e8eaef;
$white: #fff;
$black: #222;

.primary-1 {
  color: $primary-1;
}

.secondary-1 {
  color: $secondary-1;
}

.tertiary-1 {
  color: $tertiary-1;
}
