@import './settings';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700');

*, h1, h2, h3, h4, h5, h6, p, li, a {
  line-height: 1;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 55px;
}

h2 {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 24px;
  font-size: 24px;
}

h3 {
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: bold;
  margin-top: 0;
}

h4 {
  font-size: 24px;
}

h5, h6 {
  font-size: 16px;
}

p, li {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 28px;
  margin-top: 0;
  color: $grey-2;
}

li a {
  text-decoration: none;
}

small {
  font-size: 16px;
}

@include xs-mq {
  h1 {
    font-size: 36px;
    line-height: 38px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5, h6 {
    font-size: 16px;
  }

  p, li {
    font-size: 20px;
  }

  small {
    font-size: 14px;
  }
}

@include sm-mq {
  h1 {
    font-size: 36px;
    line-height: 38px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5, h6 {
    font-size: 16px;
  }

  p, li {
    font-size: 20px;
  }

  small {
    font-size: 14px;
  }
}
