.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.react-guide-grid {
  pointer-events: none;
  position: absolute !important;
}

.react-guide-horizontal-guides,
.react-guide-horizontal-guide {
  position: absolute !important;
}
