@import '../../css/settings';
@import '../../css/mixins';
@import '../../css/colors';

// info icon component
.icon-container {
  text-align: center;
  img {
    margin-bottom: $base * 3px;
  }
  p {
    margin-bottom: 0;
  }
}

@include xs-mq {
  .icon-container {
    padding: $base * 3px 0;
  }
}

@include sm-mq {
  .icon-container {
    padding: $base * 3px 0;
  }
}

@include md-mq {
  .icon-container {
    padding: $base * 4px 0;
  }
}

@include lg-mq {
  .icon-container {
    padding: $base * 7px 0;
  }
}

// review component
.review {
  .review-avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: $base * 1px;
    > * {
      margin-right: $base * 1px;
    }
  }

  .avatar-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 4px solid $primary-1;
    object-fit: cover;
  }

  .review-name {
    font-size: 24px;
    margin-top: 10px;
  }

  .review-position {
    font-size: 20px;
    margin-top: 14px;
    color: $primary-1;
    font-weight: bold;
  }

  .review-text {
    margin-top: 12px;
  }
}

@include xs-mq {
  .review {
    .review-avatar-container {
      flex-direction: column;
    }

    .review-position {
      margin-top: 8px;
    }

    .review-text {
      margin-top: 9px;
    }
  }
}

@include sm-mq {
  .review {
    .review-avatar-container {
      flex-direction: column;
    }

    .review-position {
      margin-top: 8px;
    }

    .review-text {
      margin-top: 9px;
    }
  }
}

@include md-mq {
  .icon-container {
    padding: $base * 4px 0;
  }
}

@include lg-mq {
  .icon-container {
    padding: $base * 7px 0;
  }
}

//social icons component
.social-icons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

  li {
    display: inline-block;
    margin-right: 16px;
    font-size: 48px;
  }

  .fa-facebook-square {
    color: #4068a1;
  }

  .fa-youtube-square {
    color: #860538;
  }

  .fa-twitter-square {
    color: #1cafdb;
  }

  .fa-linkedin-square {
    color: #0a5595;
  }
}

// section 1

@include xs-mq {
  .section {
    padding: $base * 5px 0;
  }

  .header {
    margin-top: $base * 1px;
    margin-bottom: $base * 1px;
  }

  .home-page {
    margin-top: $base * 2px;
  }
}

@include sm-mq {
  .section {
    padding: $base * 5px 0;
  }

  .header {
    margin-top: $base * 1px;
    margin-bottom: $base * 1px;
  }

  .home-page {
    margin-top: $base * 2px;
  }
}

@include md-mq {
  .section {
    padding: $base * 7px 0;
  }

  .header {
    margin-top: $base * 2px;
    margin-bottom: $base * 1px;
  }

  .home-page {
    margin-top: $base * 3px;
  }
}

@include lg-mq {
  .section {
    padding: $base * 12px 0;
  }

  .header {
    margin-top: $base * 3px;
    margin-bottom: $base * 4px;
  }

  .home-page {
    margin-top: $base * 5px;
  }
}

.header-links {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: $base * 1px;
  list-style-type: none;

  li {
    padding-right: $base * 2px;
    a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.header-button-container {
  display: flex;
  justify-content: flex-end;
}

// section 1
.section-1-text {
  margin-bottom: $base * 3px;
}

@include xs-mq {
  .section-1-text {
    margin-top: $base * 2px;

    button {
      display: block;
      margin: 0 auto;
    }
  }
}

@include sm-mq {
  .section-1-text {
    margin-top: $base * 2px;

    button {
      display: block;
      margin: 0 auto;
    }
  }
}

@include md-mq {
  .section-1-text {
    margin-top: $base * 3px;
  }
}

@include lg-mq {
  .section-1-text {
    margin-top: $base * 10px;
  }
}

.section-1-image {
  box-shadow: 0 2px 5px $primary-1;
}

// section 2
.section-2-outer-section {
  background-color: #f2f4f7;
}

.section-2 {
  margin-top: $base * -2px;
}

@include xs-mq {
  .section-2-customer-heading {
    margin-bottom: $base * 3px;
  }
}

@include sm-mq {
  .section-2-customer-heading {
    margin-bottom: $base * 3px;
  }
}

@include md-mq {
  .section-2-customer-heading {
    margin-bottom: $base * 4px;
  }
}

@include lg-mq {
  .section-2-customer-heading {
    margin-bottom: $base * 7px;
  }
}

// section-3
.section-3-outer-section {
  background-color: #e6eaf0;
}

.section-3 {
  @include xs-mq {
    .team-img {
      margin-top: $base * 5px;
    }
  }

  @include sm-mq {
    .team-img {
      margin-top: $base * 5px;
    }
  }

  @include md-mq {
    .team-img {
      margin-top: $base * 8px;
    }
  }

  @include lg-mq {
    .team-img {
      margin-top: $base * 10px;
    }
  }
}

// footer
.footer-outer-section {
  background: url("../../assets/footer-bg.jpg") center/cover;
}

.footer-overlay {
  background-color: rgba(67, 97, 204, 0.77);
}

.footer-header {
  margin-top: -3px;

  h3 {
    margin-top: -5px;
  }
}

.footer-btn-1-container,
.footer-btn-2-container {
  margin: $base * 12px 0;
  flex-direction: column;

  button {
    margin-bottom: 20px;
  }
}

.footer-btn-1-container {
  display: flex;
  align-items: flex-end;
}

.footer-btn-2-container {
  display: flex;
  align-items: flex-start;
}

.footer-address {
  margin-bottom: 0;
}

@include xs-mq {
  .footer-btn-1-container,
  .footer-btn-2-container {
    margin: $base * 2px 0;
    align-items: center;

    button, p {
      margin-bottom: $base * 1px;
    }
  }

  .footer-address {
    text-align: center;
    margin-bottom: $base * 4px;
  }

  .social-icons {
    justify-content: center;
  }
}

@include sm-mq {
  .footer-btn-1-container,
  .footer-btn-2-container {
    margin: $base * 2px 0;
    align-items: center;

    button, p {
      margin-bottom: $base * 1px;
    }
  }

  .footer-address {
    text-align: center;
    margin-bottom: $base * 4px;
  }

  .social-icons {
    justify-content: center;
  }
}

@include md-mq {
  .footer-btn-1-container,
  .footer-btn-2-container {
    margin: $base * 6px 0;
  }
}

@include lg-mq {
  .footer-btn-1-container,
  .footer-btn-2-container {
    margin: $base * 12px 0;
  }
}

